.Jobs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Job {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
